PORT = 8000

# Database Mongo Atlas
DB_URL = ''
DB_NAME=serenitylink
MA_USER=
MA_PASSWORD=
MA_SERVER=

# JWT
SECRET_KEY=
ACTIVATION_SECRET = ''

CLOUDINARY_NAME = ''
CLOUDINARY_API_KEY = ''
CLOUDINARY_API_SECRET = ''

MJ_APIKEY_PUBLIC=''
MJ_APIKEY_PRIVATE=''
MJ_SENDER_EMAIL= ''
MJ_SENDER_NAME=''
